@import 'bootstrap';

/* common */
:root {

  --light: white;
  --danger: red;
  --bg-dark: #212529;
  --bg-mid: #2e3135;
  --rating: yellow;
}

body {
  background-color: var(--bg-mid);
  min-width: 400px;
}

.container {

  width: 60%;
}

/*HEADER*/
header {

  background-color: var(--bg-dark);

  img {

    width: 9rem;
  }

}

/*MAIN*/

.form-control:focus {
  border-color: var(--danger);
  box-shadow: none;
  outline: none;
}

.rating-star {

  color: var(--rating);
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.card-img-top.cover {
  border-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.card-overlay {
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: var(--light);
  opacity: 0;
  overflow-y: auto;

  /*scrollbar più sottile*/
  scrollbar-width: thin;
  scrollbar-color: var(--light) var(--bg-dark);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-dark);
  }
}

.flag {

  img {

    width: 1.8rem;
  }
}

.card:hover .card-overlay {
  opacity: 1;
}

.overlay-content {

  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  line-height: 2rem;
}

.value-title {

  font-weight: bold;
}

.overview {
  line-height: 1.5rem;
}

.section-title {

  color: var(--light);
  text-transform: uppercase;
  font-weight: bold;
}

.search-result {
  color: white;
}